<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>contectDetail.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A62477521CA121F700FC448D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A624776B1CA121F700FC448D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A62477761CA121F700FC448D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
